* {
    border: 0.1rem dotted gray;
}

.border_round_1 {
    border: 0.1rem solid red;
    border-radius: 3rem;
}

.border_round_2 {
    border: 0.1rem solid blue;
    /* border-radius: 1rem 2rem 3rem 4rem; */
    border-radius: 2rem 0rem 0rem 2rem;
}

.border_round_3 {
    border: 0.1rem solid blue;
    border-radius: 1rem 2rem;
}

.border_round_4 {
    border: 0.1rem solid blue;
    border-radius: 50%;
}

.border_round_5 {
    border: 0.1rem solid blue;
    border-radius: 50%;
}

.border_round_6 {
    border: 0.1rem solid red;
    border-radius: 50%;
    width: 100%;
}