.verse {
    color:blue;
}

.chorus {
    color: green;
    font-size: 12px;
}

.title {
    color: blueviolet;
    background-color: blanchedalmond;
    text-align: center;
}

body {
    background-color: burlywood;
}

.text_effect {
    font-weight: 900;
    font-size: 20px;
    color: coral;
    text-shadow: 5px 5px 5px black;
}