* {
    border-collapse:collapse;
    line-height: 30px;
}
body {
    border: 3px solid;
    width: 800px;
}
h1 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.h1_center {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
td {
    border: 1px solid;
    text-align: center;
    height: 25px;
}
.color {
    background-color: rgb(238, 237, 237);
}
table {
    border: 1px solid black;
    width: 700px;
    margin-left: 50px;
}
div {
    margin-left: 50px;
}
.div_b {
    text-align: center;
}
.div_a {
    text-align: right;
}